:root{
    --clr-bg-color-: rgb(64, 69, 70);
    --clr-txt-color-: rgb(229, 240, 247);
    --font-family-default-: system-ui;
}

*{
    box-sizing: border-box;
    margin: 0.2rem 0;
    padding: 0.25rem 0;
    border: 0;
    background-color: var(--clr-bg-color-);
    color: var(--clr-txt-color-);
    font-family: var(--font-family-default-);
}

body{
    max-width: 100vw;
    min-width: 100vw;
    text-align: center;
}

#country-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
    /* border: 2px solid black; */
}